<div>
    <div class="grid grid-cols-3 bg-main-500 dark:bg-main-800 text-center mx-auto px-10 py-20 text-white dark:text-main-300 ">
        <div class="col-span-1">
            <h3 class="font-semibold text-3xl pb-2">LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <span>Clark, MO 65243</span>
        </div>
        <div class="col-span-1">
            <h3 class="font-semibold text-3xl pb-2">AROUND THE WEB</h3>
            <div class="text center mt-3">
                <a class="mx-1 border border-white dark:border-main-300 rounded-full p-2 text-white dark:text-main-300"><i class="fa-brands fa-facebook"></i></a> 
                <a class="mx-1 border border-white dark:border-main-300 rounded-full p-2 text-white dark:text-main-300"><i class="fa-brands fa-twitter"></i></a>
                <a class="mx-1 border border-white dark:border-main-300 rounded-full p-2 text-white dark:text-main-300"><i class="fa-brands fa-linkedin"></i></a>
                <a class="mx-1 border border-white dark:border-main-300 rounded-full p-2 text-white dark:text-main-300"><i class="fa-solid fa-globe"></i></a>
            </div>
        </div>
        <div class="col-span-1">
            <h3 class="font-semibold text-3xl pb-2">ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
    <div class="p-5 text-center bg-tertiary-500 dark:bg-tertiary-800 text-white dark:text-main-300">
        <p class="text-capitalize">copyrights &copy; your website 2025</p>
    </div>
</div>