<section class="flex flex-col items-center justify-center h-screen bg-main-100 dark:bg-main-800 text-main-900 dark:text-main-100 px-6">
  <h1 class="text-[8rem] md:text-[10rem] font-extrabold mb-4 text-secondary-500 dark:text-secondary-400">404</h1>
  <p class="text-3xl md:text-4xl font-semibold mb-6 text-center">Oops! Page Not Found</p>
  <p class="text-center text-main-500 dark:text-main-300 mb-10 max-w-md">
    Sorry, the page you are looking for does not exist or has been moved.
  </p>
  <a routerLink="/home"
     class="px-8 py-4 bg-secondary-500 dark:bg-secondary-400 text-white font-bold rounded-xl shadow-lg hover:bg-secondary-600 dark:hover:bg-secondary-300 transition-colors duration-300 cursor-pointer">
     Go Back Home
  </a>
</section>
