<div class="py-5 dark:bg-main-700">
    <div class="container mx-auto w-5/6">
         <app-title [componentName]=" 'portfolio component' " [dark]="true"></app-title>
       <div class="grid lg:grid-cols-3 grid-cols-2  py-4 gap-5">
        <div>
            <app-portfolio-card [image]="image1"></app-portfolio-card>
        </div>
        <div>
            <app-portfolio-card [image]="image2"></app-portfolio-card>
        </div>
        <div>
            <app-portfolio-card [image]="image3"></app-portfolio-card>
        </div>
        <div>
            <app-portfolio-card [image]="image1"></app-portfolio-card>
        </div>
        <div>
            <app-portfolio-card [image]="image2"></app-portfolio-card>
        </div>
        <div>
            <app-portfolio-card [image]="image3"></app-portfolio-card>
        </div>
    </div> 
    </div>
    
    
</div>